/* font{
    text-align: center;
}
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
} 
.container{
    max-width: 500px; 
    margin: 100px auto; 
    padding: 20px; 
    border: 2px solid black; 
    border-radius: 8px; 
}
.container h2{
    text-align: center; 
    margin-bottom: 20px; 
  }
  .form-group { 
    margin-bottom: 20px; 
  } 

  .form-group:last-child { 

    margin-bottom: 0; 

  }  */

  
.md-card-image{
  padding-top: 40%;
  margin-bottom: 3px;
}
.form-2-wrapper {
padding-top: 50%;
  border: 2px solid navy;
  padding: 40px;
  border-radius: 8px;
}

input.form-control:focus{
  box-shadow:  5px !important;
  outline: 3px !important;
  background-color: transparent;
}
button.login-btn{
  background: navy;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 30px;
}
/* @media screen and (max-width: 600px) {
  .form-2-wrapper, .form-group {
      display: flex;
      flex-direction: column;
  }
  .form-group label {
      font-size: small;
  }
  input[type=text], input[type=email] ,textarea{
      resize: none;
  }
  btn{
     width: 100%;
     margin-top: 20px;
  }
} */
