
<div class="container">
    <div class="reset-container">
        <h2>Password Reset</h2>
        <form [formGroup]="passwordresetForm">
        
            <div class="form-group">
                <b><label for="old">Old Password</label></b>
                <input type="password" id="old" class="form-control"  formControlName="oldPass" placeholder="Enter your Old Password" minlength="8" ngModel required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$">

            </div>

            <div *ngIf="passwordresetForm.get('oldPass')!.touched && passwordresetForm.get('oldPass')!.invalid">

                <div *ngIf="passwordresetForm.get('oldPass')!.hasError('required')">
        
                  <font color="red">*Old Password required</font>
        
                </div>
                 <div *ngIf="passwordresetForm.get('oldPass')!.errors?.['pattern']">
                    <font color="red">*Invalid Password format</font>
                  </div> 
            </div>

            <div class="form-group">
                <b><label for="old">New Password</label></b>
                <input type="password" id="new" class="form-control"  formControlName="newPass" placeholder="Enter your New Password"  minlength="8" ngModel required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$">

            </div>

            <div *ngIf="passwordresetForm.get('newPass')!.touched && passwordresetForm.get('newPass')!.invalid">

                <div *ngIf="passwordresetForm.get('newPass')!.hasError('required')">
        
                  <font color="red">*New Password required</font>
        
                </div>
                <div *ngIf="passwordresetForm.get('newPass')!.errors?.['pattern']">
                    <font color="red">*Invalid Password format</font>
                  </div> 
            </div>

            <div class="form-group">
                <b><label for="old">Confirm Password</label></b>
                <input type="password" id="confirm" class="form-control"  formControlName="confirmPass" placeholder="Enter your Confirm Password" minlength="8" ngModel required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$">

            </div>

            <div *ngIf="passwordresetForm.get('confirmPass')!.touched && passwordresetForm.get('confirmPass')!.invalid">

                <div *ngIf="passwordresetForm.get('confirmPass')!.hasError('required')">
        
                  <font color="red">*Confirm Password required</font>
        
                </div>
                <div *ngIf="passwordresetForm.get('confirmPass')!.errors?.['pattern']">
                    <font color="red">*Invalid Password format</font>
                  </div> 
            </div>

            <br>

      <button type="submit"(click)="dataSave(passwordresetForm.value)" class="btn btn-block btn-feel-good" [disabled]="passwordresetForm.invalid">Reset
        Password</button>&nbsp;&nbsp; 
       
        <br>
        <font style="color: red;">{{result}}</font>
        </form>
    </div>
</div>
