/* .card-body{
    margin-left: 10%;
}
.row{
    margin-top:5%;
    margin-left: 20%;
}
#div2{
    margin-left: 20%;
}
.col-sm-3{
    margin-left:5%;
} */
/* .container-fluid{
    padding:5%;
    padding-left:25%;
    margin-right:25%;
   
} */

body{
    margin-top:20px;
    background:#ffffff;
}
.order-card {
    color: #fff;
    border-radius: 20px;
}

.bg-c-blue {
    background: linear-gradient(45deg,#14ff0c,#36d377);
   
}
.bg-c-blue:hover,.bg-c-green:hover,.bg-c-yellow:hover,.bg-c-pink:hover{
   
    transform: scale(1.1);

}


.bg-c-green {
    background: linear-gradient(45deg,#89d6c7,#059175);
}

.bg-c-yellow {
    background: linear-gradient(45deg,#e22e2eb4,#e61506);
}

.bg-c-pink {
    background: linear-gradient(180deg,#7483b6,#0e349c);
}


.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    border: none;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.card .card-block {
    padding: 25px;
}

.order-card i {
    font-size: 26px;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}
.container{
    padding-top: 15%;
}
h2{
    color:whitesmoke
}
.modal-header{
    background-color: #89d6c7;
}
.modal-footer{
    background-color: #89d6c7;
}
.modal-body{
    text-align: center;
}
.row{
    row-gap: 10px;
}

/* side nav bar */

body {
    background-color: #fbfbfb;
    }
    @media (min-width: 991.98px) {
    main {
    padding-left: 240px;
    }
    }
    
 
    