/* .sidebar {
    position: fixed;
    /* background-color: rgb(36, 36, 35); */
/* height: 100%;
    width: 70px;
    z-index: 600;
    font-size: x-small;

} */

.list-group {
    position: absolute;
}

.list-group :hover {
    /* background-color: rgb(249, 110, 110); */
    border-radius: 0%;
}

.list-group-item {

    border: none;
    color: rgb(251, 247, 247);
    background-color: transparent;
    padding: 20px 10px 11px 10px;
    text-align: center;
}

.liked{
    color:blue;
}

/* #mybtn:active {
    background-color: rgb(230, 92, 120);
}

#mybtn:visited {
    background-color: rgb(230, 92, 120);
}  */




#rightDiv {
    /* margin-top: 1%; */
    position: static;
    /* margin: auto; */
    /* margin-right: 10%; */
    /* padding: 15px; */
    /* border: 2px solid black; */
    /* border-radius: 0%; */
    /* box-shadow: 1px 1px 1px 1px rgb(244, 244, 244); */
    /* background-color: burlywood; */
    height: 830px;
}

@media (max-width: 991.98px) {
    #rightDiv {
        margin-left: 10%;
    }
}

/* Header css */

.position-sticky {
    position: sticky;
    top: 0;
}


.sidebar {
    position: fixed;
    background-color: rgb(36, 36, 35);
    height: 100%;
    /* left: 0.3%; */
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    width: 65px;
    z-index: 600;
    /* border-radius: 5px; */
    font-size: x-small;

}

@media (max-width: 991.98px) {
    main {
        padding-left: 7%;
    }
}

.sidebar .active {
    color: #FFF;
    /* background-color: blueviolet; */
    /* box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%); */
}

.list-group {
    position: absolute;
    top: 0%;
    border-radius: 0%;
}

.list-group-item {

    border: none;
    color: rgb(251, 247, 247);
    background-color: transparent;
    /* background-color: #27235C; */
    padding: 30px 10px 11px 6px;
    text-align: center;
    border-radius: 0%;
}

.list-group :hover {
    background-color: rgb(249, 110, 110);
}

.card {
    margin: auto;
    width: 50%;
    position: sticky;
    /* padding: 20%; */
    border-radius: 10px;

}


.card-header {
    border: none;
    background-color: transparent;
}

.card-body {
    cursor: pointer;
    
}

#view,
.card-footer {
    color: rgb(145, 145, 145);
    font-size: smaller;
    font-weight: 100;
    border: none;
    background-color: transparent;
    margin-bottom: 2%;
}

.card-content {
    background-color: rgb(242, 242, 242);
    padding: 3%;
    border-radius: 5px;
}


.title {
    padding: 1%;
    font-size: x-large;
    font-weight: 500;
}

.td2 {
    color: rgb(43, 99, 242);
    padding: auto;
    font-size: x-small;
    border: 1px solid rgb(43, 99, 242);
    border-radius: 3px;
}

.card-footer {
    display: flex;
    text-align: center;
    margin: 10px;
    
   
}

/* .comment {
    border-color: 1px solid black;
    border-radius: 3px;
    width: 40%;
    height: 30%;

} */

table {
    width: 100%;
}
td {
    width: 40%;
}
#textarea{
    width:40%;
    height:20%;
}

#commentbox{
    margin-left: 1%;
    width:98%;
    margin-bottom:1%;
    padding :2%;
    border:1px solid grey;
   
}

#sendButton{
    color: white;
    background-color: #25D366;
    border-radius: 50%;
    border-color:  #25D366;

}

#commentArea{
    height: 1 cm;
    width : 80%;
    border-radius: 15px 0px 0px 0px;
    border: 1px solid rgb(202, 201, 201);
    padding: 20px;
    border-width: 1px;
     
    /* border: none;
    border-color: #25D366;
    border-bottom: #25D366 2px solid; */
  
}
