/* body{
  /* background-color: #f7dbdb; 
}*/

  
#nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: #E0E0E0;
}

.navbar-brand {
  order: -1; /* Move to the start */
}

form {
  flex-grow: 1; /* Grow to fill available space */
}
.form-control{
  margin-top: 2%;
  margin-left: 25%;
  margin-bottom: 1%;
  width: 50%;

  
}

.navbar-nav {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  
}

.nav-item {
  margin-left: 30px; /* Adjust spacing between icons */
}

.nav-link {
  color: black; /* Adjust color as needed */
  text-decoration: none; /* Remove underlines */
  
}

.nav-link:hover {
  color: gray; /* Adjust hover color as needed */
  
}


.left{
width: 250px;
height: 100%;
background: #322f2f;
  /* white-space: nowrap;  */
  transition: width 0.5s ;
  position:fixed;


  /* z-index: 9999;  */
}
.left ul{
  padding: 0;
  list-style-type: none;
  text-align: left;
}
.left li {
  width: auto;
  height: 60px;
  line-height: 50px;  
  padding-left: 15px;
}
.left li:hover {
  background: rgb(230, 139, 139); 
  color: black;
}

/*.left:hover {
      width: 250px; 
  }   */

  .left .item-menu {
        height:50px;
        overflow:hidden;
        color:#fff;
    }  
.left a{
  color: white;
    text-decoration: none;
    font-weight: bold;
} 
span.menu{
  padding-left: 17px;
}
.t_search {
    color: black;
    height: 35px;
    margin-left: 15px;
    width: 190px
}

  .example-spacer {
      flex: 1 1 auto;
    }
    
    .mat-mdc-form-field {
      font-size: 14px;
      width: 10%;
      
    }

    #side{
      margin-top: 0px;
    }
    .img{
      width:0;
    }
