/* .card-body{
    margin-left: 10%;
}
.row{
    margin-top:5%;
    margin-left: 20%;
}
#div2{
    margin-left: 20%;
}
.col-sm-3{
    margin-left:5%;
} */
/* .container-fluid{
    padding:5%;
    padding-left:25%;
    margin-right:25%;
   
} */

#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: #E0E0E0;
    z-index: 100;
    color: black;
   
    
  }
  .h2{
    color: black;
  }
  
  .navbar-brand {
    order: -1; /* Move to the start */
  }
  
  form {
    flex-grow: 1; /* Grow to fill available space */
  }
  .form-control{
    margin-top: 2%;
    margin-left: 25%;
    margin-bottom: 1%;
    width: 50%;

    
  }
  
  .navbar-nav {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    
  }
  
  .nav-item {
    margin-left: 30px; /* Adjust spacing between icons */
  }
  
  .nav-link {
    color: black; /* Adjust color as needed */
    text-decoration: none; /* Remove underlines */
    
  }
  
  .nav-link:hover {
    color: gray; /* Adjust hover color as needed */
    
  }

  .left{
	width: 15%;
	height: 100%;
	background: #322f2f;
    /* white-space: nowrap;  */
    transition: width 0.5s ;
    position:fixed;
    z-index: 100; 
    margin-top: 3.5%;
}
	.left ul{
		padding: 0;
		list-style-type: none;
		text-align: left;
	}
	.left li {
		width: auto;
		height: 60px;
		line-height: 50px;  
		padding-left: 15px;
	}
	.left li:hover {
		background: rgb(230, 139, 139); 
		color: black;
	}

	/*.left:hover {
        width: 250px; 
    }   */

		.left .item-menu {
	        height:50px;
	        overflow:hidden;
	        color:#fff;
	    }  
	.left a{
		color: white;
	    text-decoration: none;
	    font-weight: bold;
	} 
	span.menu{
		padding-left: 17px;
	}
	.t_search {
	    color: black;
	    height: 35px;
	    margin-left: 15px;
	    width: 190px
	}

    .example-spacer {
        flex: 1 1 auto;
      }
      
      .mat-mdc-form-field {
        font-size: 14px;
        width: 10%;
        
      }

      #side{
        margin-top: 0px;
      }
      .img{
        width:0;
      }


body{
    margin-top:20px;
    background:#ffffff;
}
.order-card {
    color: #fff;
    border-radius: 20px;
}

.bg-c-blue {
    background: linear-gradient(45deg,#14ff0c,#36d377);
   
}
.bg-c-blue:hover,.bg-c-green:hover,.bg-c-yellow:hover,.bg-c-pink:hover{
   
    transform: scale(1.1);

}


.bg-c-green {
    background: linear-gradient(45deg,#89d6c7,#059175);
}

.bg-c-yellow {
    background: linear-gradient(45deg,#e22e2eb4,#e61506);
}

.bg-c-pink {
    background: linear-gradient(180deg,#7483b6,#0e349c);
}


.card {
    border-radius: 10px;
    -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    border: none;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.card .card-block {
    padding: 25px;
}

.order-card i {
    font-size: 26px;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}
.container{
    padding-top: 15%;
    padding-left: 15%;
}
h2{
    color:whitesmoke
}
.modal-header{
    background-color: #89d6c7;
}
.modal-footer{
    background-color: #89d6c7;
}
.modal-body{
    text-align: center;
}
.row{
    row-gap: 10px;
}

/* side nav bar */

body {
    background-color: #fbfbfb;
    }
    @media (min-width: 991.98px) {
    main {
    padding-left: 240px;
    }
    }
    
 
    