
<div class="container">
    <div class="reset-container">
        <h2>Password Reset</h2>
        <form [formGroup]="passwordresetForm" style="text-align: center;">
        
           

            <div class="form-group" style="text-align: left;">
                <label for="old" id="lab">New Password :</label>
                <input type="password" id="new" class="form-control"  formControlName="newPass" placeholder="Enter your New Password"  minlength="8" ngModel required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$">

            </div>

            <div *ngIf="passwordresetForm.get('newPass')!.touched && passwordresetForm.get('newPass')!.invalid">

                <div *ngIf="passwordresetForm.get('newPass')!.hasError('required')">
        
                  <font color="red">*New Password required</font>
        
                </div>
                <div *ngIf="passwordresetForm.get('newPass')!.errors?.['pattern']">
                    <font color="red">*Invalid Password format</font>
                  </div> 
            </div>

            <div class="form-group" style="text-align: left;">
                <label for="old" id="lab">Confirm New Password :</label>
                <input type="password" id="confirm" class="form-control"  formControlName="confirmPass" placeholder="Enter your Confirm Password" minlength="8" ngModel required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$">

            </div>

            <div *ngIf="passwordresetForm.get('confirmPass')!.touched && passwordresetForm.get('confirmPass')!.invalid">

                <div *ngIf="passwordresetForm.get('confirmPass')!.hasError('required')">
        
                  <font color="red">*Confirm Password required</font>
        
                </div>
                <div *ngIf="passwordresetForm.get('confirmPass')!.errors?.['pattern']">
                    <font color="red">*Invalid Password format</font>
                  </div> 
            </div>

            <br>

      <button type="submit" class="btn btn-primary" id="submit" [disabled]="passwordresetForm.invalid" (click)="resetPassword(passwordresetForm.value)">Reset
        Password</button>&nbsp;&nbsp; 
       
        <br>
        {{result}}
        </form>
    </div>
</div>