<div class="container">
<h1 align="center"><b>Force Password Reset</b></h1>
<form [formGroup]="forcepasswordresetForm">
<div class="form-group">
<b><label for="old">Old Password</label></b>
<input type="password" id="old" class="form-control"  formControlName="oldPass" placeholder="Enter your Old Password" minlength="8" ngModel required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$">            </div>
<div *ngIf="forcepasswordresetForm.get('oldPass')!.touched && forcepasswordresetForm.get('oldPass')!.invalid">
<div *ngIf="forcepasswordresetForm.get('oldPass')!.hasError('required')">
<font color="red">*Old Password required</font>
</div>
<div *ngIf="forcepasswordresetForm.get('oldPass')!.errors?.['pattern']">
<font color="red">*Invalid Password format</font>
</div> 
</div>

<div class="form-group">
<b><label for="old">New Password</label></b>
<input type="password" id="new" class="form-control"  formControlName="newPass" placeholder="Enter your New Password"  minlength="8" ngModel required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$">
</div>
<div *ngIf="forcepasswordresetForm.get('newPass')!.touched && forcepasswordresetForm.get('newPass')!.invalid">
<div *ngIf="forcepasswordresetForm.get('newPass')!.hasError('required')">
<font color="red">*New Password required</font>        
</div>
<div *ngIf="forcepasswordresetForm.get('newPass')!.errors?.['pattern']">
<font color="red">*Invalid Password format</font>
</div> 
</div>
<div class="form-group">
<b><label for="old">Confirm Password</label></b>
<input type="password" id="confirm" class="form-control"  formControlName="confirmPass" placeholder="Enter your Confirm Password" minlength="8" ngModel required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$">
</div>
<div *ngIf="forcepasswordresetForm.get('confirmPass')!.touched && forcepasswordresetForm.get('confirmPass')!.invalid">
<div *ngIf="forcepasswordresetForm.get('confirmPass')!.hasError('required')">
<font color="red">*Confirm Password required</font>
</div>
<div *ngIf="forcepasswordresetForm.get('confirmPass')!.errors?.['pattern']">
<font color="red">*Invalid Password format</font>
</div> 
</div>

<button style="background-color: navy;color: white; margin-left: 30%;" align="center" type="submit"(click)="dataSave(forcepasswordresetForm.value)"class="btn" [disabled]="forcepasswordresetForm.invalid">Change Password</button>
<br>
<font style="color: red;">{{result}}</font>
</form>
</div>