<!-- <div class="container-fluid">
<div class="row">
    <div class="col-sm-3">
      <div class="card">
        
        <img class="card-img-top" src="https://images4.alphacoders.com/133/1331483.png" alt="Card image">
       
        <div class="card-body">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-house-add" viewBox="0 0 16 16">
                <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h4a.5.5 0 1 0 0-1h-4a.5.5 0 0 1-.5-.5V7.207l5-5 6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293z"/>
                <path d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0m-3.5-2a.5.5 0 0 0-.5.5v1h-1a.5.5 0 0 0 0 1h1v1a.5.5 0 1 0 1 0v-1h1a.5.5 0 1 0 0-1h-1v-1a.5.5 0 0 0-.5-.5"/>
              </svg>&nbsp;&nbsp;
          
          <a href="#"  class="btn btn-primary">Add Region</a>
        </div>
      </div>
    </div>
    <div id="div2" class="col-sm-3">
      <div class="card">

        <img class="card-img-top" src="https://images4.alphacoders.com/133/1331483.png" alt="Card image">

        <div class="card-body">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-house-add" viewBox="0 0 16 16">
                <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h4a.5.5 0 1 0 0-1h-4a.5.5 0 0 1-.5-.5V7.207l5-5 6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293z"/>
                <path d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0m-3.5-2a.5.5 0 0 0-.5.5v1h-1a.5.5 0 0 0 0 1h1v1a.5.5 0 1 0 1 0v-1h1a.5.5 0 1 0 0-1h-1v-1a.5.5 0 0 0-.5-.5"/>
              </svg>&nbsp;&nbsp;
          
              
          <a href="#" class="btn btn-primary">Update region</a>
        </div>
      </div>
    </div>

   
</div>
<br><br>
<div class="row">
    <div class="col-sm-3">
      <div class="card">
        
        <img class="card-img-top" src="https://images4.alphacoders.com/133/1331483.png" alt="Card image">
       
        <div class="card-body">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-house-add" viewBox="0 0 16 16">
                <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h4a.5.5 0 1 0 0-1h-4a.5.5 0 0 1-.5-.5V7.207l5-5 6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293z"/>
                <path d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0m-3.5-2a.5.5 0 0 0-.5.5v1h-1a.5.5 0 0 0 0 1h1v1a.5.5 0 1 0 1 0v-1h1a.5.5 0 1 0 0-1h-1v-1a.5.5 0 0 0-.5-.5"/>
              </svg>&nbsp;&nbsp;
          
          <a href="#"  class="btn btn-primary">Delete Region</a>
        </div>
      </div>
    </div>
    <div id="div2" class="col-sm-3">
        <div class="card">
        
            <img class="card-img-top" src="https://images4.alphacoders.com/133/1331483.png" alt="Card image">
           
            <div class="card-body">
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-house-add" viewBox="0 0 16 16">
                    <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h4a.5.5 0 1 0 0-1h-4a.5.5 0 0 1-.5-.5V7.207l5-5 6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293z"/>
                    <path d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0m-3.5-2a.5.5 0 0 0-.5.5v1h-1a.5.5 0 0 0 0 1h1v1a.5.5 0 1 0 1 0v-1h1a.5.5 0 1 0 0-1h-1v-1a.5.5 0 0 0-.5-.5"/>
                  </svg>&nbsp;&nbsp;
              
              <a href="#"  class="btn btn-primary">View Region</a>
            </div>
          </div>
      
    </div>

   
</div>
</div>

 -->

<!-- <link href="https://maxcdn.bootstrapcdn.com/div-awesome/4.3.0/css/div-awesome.min.css" rel="stylesheet"> -->

<body>
  <nav class="navbar bg-dark">
    <h2>Admin </h2>
    <div class="d-flex">
      <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">Add region</button>
    </div>
  </nav>


  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Add Region Data</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="myForm" id="myform">
            <!-- <mat-label>Region Id</mat-label> -->

            <input type="text" class="form-control" formControlName="regionName" placeholder="Region Name">
            <div *ngIf="myForm.get('regionName')!.touched && myForm.get('regionName')!.invalid">

              <div *ngIf="myForm.get('regionName')!.hasError('required')">
                <div id="condition">Region Name is required</div>
              </div>
              <div *ngIf="myForm.get('regionName')!.hasError('pattern')">
                <div id="condition"> Invalid Region Name</div>

              </div>
            </div><br>



            <input type="text" class="form-control" formControlName="regionLocation" placeholder="Region Location">
            <div *ngIf="myForm.get('regionLocation')!.touched && myForm.get('regionLocation')!.invalid">

              <div *ngIf="myForm.get('regionLocation')!.hasError('required')">
                <div id="condition">Region Location is required</div>
              </div>
              <div *ngIf="myForm.get('regionLocation')!.hasError('pattern')">
                <div id="condition"> Invalid Location</div>

              </div>
            </div><br>


            <input type="text" class="form-control" formControlName="regionTimezone" placeholder="Region Timezone">
            <div *ngIf="myForm.get('regionTimezone')!.touched && myForm.get('regionTimezone')!.invalid">

              <div *ngIf="myForm.get('regionTimezone')!.hasError('required')">
                <div id="condition">TimeZone is required</div>
              </div>
              <div *ngIf="myForm.get('regionTimezone')!.hasError('pattern')">
                <div id="condition"> Invalid TimeZone</div>


              </div>

            </div><br>
            <br>
            <p style="color:red;">{{result}}</p>
            <!-- <button type="button" class="btn btn-primary" (click)="insert(myForm.value)">Insert</button> -->



          </form><br>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="insert(myForm.value)">Insert</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          
        </div>
      </div>
    </div>
  </div>


  <div class="container-fluid">
    <button class="btn btn-primary" (click)="goToDashBoard()">Back</button>
  </div>

  <div class="container" id="cont1">
    <div class="row">
      <!-- <div class=" col-xl-1">

      </div> -->
      <div class="col-md-6 col-xl-4">
        <div class="card bg-c-blue order-card" data-bs-toggle="modal" data-bs-target="#exampleModal">
          <div class="card-block">
            <h6 class="m-b-20">Add Region</h6>

            <h2 class="text-right"><i class="fa fa-plus" aria-hidden="true"></i></h2>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-xl-3">
        <div class="card bg-c-green order-card" data-bs-toggle="modal" data-bs-target="#exampleModal1">
          <div class="card-block">
            <h6 class="m-b-20">Update Region</h6>
            <h2 class="text-right"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></h2>

          </div>
        </div>
      </div> 

       <div class="col-md-4 col-xl-3">
        <div class="card bg-c-yellow order-card">
          <div class="card-block">
            <h6 class="m-b-20">Delete Region</h6>
            <h2 class="text-right"><i class="fa fa-trash-o" aria-hidden="true"></i></h2>

          </div>
        </div>
      </div> 

      <div class="col-md-6 col-xl-4">
        <div class="card bg-c-pink order-card" [routerLink]="['/RegionHome/ViewRegion']">
          <div class="card-block">
            <h6 class="m-b-20">View Region</h6>
            <h2 class="text-right"><i class="fa fa-eye" aria-hidden="true"></i></h2>

          </div>
        </div>
      </div>


    </div>
  </div>
</body>