<div class="bg">
  <div class="position-sticky">
    <header>
      <div class="card">
        <div class="card-body" style="padding: 11px;">
          <h5 class="card-title" style="margin-left: 0.5%;">Survey Builder</h5>
        </div>
      </div>
      <div class="card" style="border-bottom: 1px ridge rgb(224, 223, 223); box-shadow: 2px 2px #e7e7e7;">
        <div class="card-body" style="padding: 7px;">
          <h4 class="card-title">Share your preferences</h4>
          <button type="button" id="btn1" class="btn btn-danger" style="border-radius: 0%;">Preview</button>
        </div>
      </div>
    </header>

    <nav class="sidebar">
      <div class="list-group">
        <a routerLink="/" class="list-group-item active" draggable="false"><svg xmlns="http://www.w3.org/2000/svg" width="20"
            height="20" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
            <path
              d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325" />
          </svg><br>BUILDER</a>
      </div>
    </nav>
  </div>
  <main style="padding-top: 3%; margin-left: 7%;">
    <router-outlet></router-outlet>
  </main>
  <footer>

  </footer>
</div>