.sidebar {
    position: fixed;
    /* background-color: rgb(36, 36, 35); */
    height: 100%;
    width: 70px;
    z-index: 600;
    font-size: x-small;

}

.list-group {
    position: absolute;
}

.list-group :hover {
    /* background-color: rgb(249, 110, 110); */
    border-radius: 0%;
}

.list-group-item {

    border: none;
    color: rgb(251, 247, 247);
    background-color: transparent;
    padding: 20px 10px 11px 10px;
    text-align: center;
}

#mybtn:active {
    background-color: rgb(230, 92, 120);
}

#mybtn:visited {
    background-color: rgb(230, 92, 120);
}

#content {
    margin: auto;
    width: 94%;
}

