<!-- <div class="container">
 
    <form [formGroup]="myForm" id="myform" *ngFor="let reg of regList">
     
 
 
        <input type="text" class="form-control"  formControlName="regionId" [placeholder]="reg.regionId"
        [(ngModel)]="reg.regionId" readonly>
        <div *ngIf="myForm.get('regionId')!.touched && myForm.get('regionId')!.invalid">
 
            <div *ngIf="myForm.get('regionId')!.hasError('required')">
                <div id="condition">region ID is required</div>
            </div>
            <div *ngIf="myForm.get('regionId')!.hasError('pattern')">
                <div id="condition"> Invalid Region Id</div>
 
            </div>
        </div><br>
 
        <input type="text" class="form-control" formControlName="regionName" [placeholder]="reg.regionName"
            [(ngModel)]="reg.regionName">
        <div *ngIf="myForm.get('regionName')!.touched && myForm.get('regionName')!.invalid">
 
            <div *ngIf="myForm.get('regionName')!.hasError('required')">
                <div id="condition">region Name is required</div>
            </div>
            <div *ngIf="myForm.get('regionName')!.hasError('pattern')">
                <div id="condition"> Invalid Region Name</div>
 
            </div>
        </div><br>
 
 
 
        <input type="text" class="form-control" formControlName="regionLocation" [placeholder]="reg.regionLocation"
            [(ngModel)]="reg.regionLocation">
        <div *ngIf="myForm.get('regionLocation')!.touched && myForm.get('regionLocation')!.invalid">
 
            <div *ngIf="myForm.get('regionLocation')!.hasError('required')">
                <div id="condition">Region Location is required</div>
            </div>
            <div *ngIf="myForm.get('regionLocation')!.hasError('pattern')">
                <div id="condition"> Invalid Location</div>
 
            </div>
        </div><br>
 
 
        <input type="text" class="form-control" formControlName="regionTimezone" [placeholder]="reg.regionTimezone"
            [(ngModel)]="reg.regionTimezone">
        <div *ngIf="myForm.get('regionTimezone')!.touched && myForm.get('regionTimezone')!.invalid">
 
            <div *ngIf="myForm.get('regionTimezone')!.hasError('required')">
                <div id="condition">TimeZone is required</div>
            </div>
            <div *ngIf="myForm.get('regionTimezone')!.hasError('pattern')">
                <div id="condition"> Invalid TimeZone</div>
 
 
            </div>
 
        </div><br>
        <br>
 
        <button type="submit" class="btn btn-primary "  style="text-align: center;"(click)="update(myForm.value)">Update</button>
 
        <p style="color:red;">{{result}}</p>
 
    </form><br>
 
   
 
</div>
 -->
