.dropdown-container {
    display: inline-block;
    /* margin-right: 2%; */
 
}
 
/* .card-body {
   
   
    padding-right: 5%;
    padding-bottom: 3%;
    background-color: rgb(243, 246, 246);
} */
 
form{
    width: 70%;
    margin-top: 15%;
    margin-left: 20%;
}
 
#richtext {
    /* background-color: rgb(186, 62, 145); */
    width: 100%;
    height:  100%;
}
 
.share{
    padding-left: 95%;
}
 
#Share{
    background-color: #27235C;
    color: white;
}
 
#Draft{
    background-color: #CCCCCC;
    color: #27235C;
}