.flex-container #leftDiv {
    flex: 0 0 auto;
    width: 30%;
}

#leftDiv {
    position: fixed;
    height: 70%;
    overflow-y: auto;
    margin-left: 5%;
    padding: 15px;
    border: none;
    border-radius: 0%;
    box-shadow: 1px 1px 1px 1px rgb(244, 244, 244);
}

@media (max-width: 991.98px) {
    #leftDiv {
        margin-left: 8%;
    }
}

#rightDiv {
    position: static;
    margin-left: 45%;
    margin-right: 10%;
    padding: 15px;
    border: none;
    border-radius: 0%;
    box-shadow: 1px 1px 1px 1px rgb(244, 244, 244);
}

@media (max-width: 991.98px) {
    #rightDiv {
        margin-left: 50%;
    }
}