 
#what{
    width: 93%;
    margin-left: 7%;
    margin-top: 8%;
 }
 
 #cnt {
     position: static;
     color: #333333;
 }
 
 .bi-hand-thumbs-up-fill
 {
   
     fill: #1565c0;
 }
 section {
     margin-left: 10%;
     margin-top: 5%;
   
 }
 button
 {
     padding: 0;
     border: none;
     background: none;
 }
 
 #post {
     width: 50%;
     margin-left: 27%;
 
   
 }
 #button:hover{
     background-color: rgb(244, 245, 247);
 
 }
 
 
 #time {
     font-size: 12px !important
   
 }
 
  .socials i {
     margin-right: 14px;
     font-size: 17px;
     color: #101111;
     cursor: pointer
   
 }
 
 
 
 :host ::ng-deep img {
     width: 50%;
     height:50%
   
 }
 #head{
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     font-size: 15px;
 }
 
 #react{
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 
 }
 .card{
     border-radius: 1%;
     position: static;
 }
 
 .right{
     position: relative;
     left: 10px;
 }
 
 