

#myform {
    max-width: 500px;
    margin: auto;
}
.container{
    position:absolute;
    top:25%;
    left:10%;
    /* border: 2px solid blue;
    border-radius: 20px;
    border-width: 2px;
    padding:20px; */
   
}

