
.container {
    width: 100%;
    max-width: 550px;
    margin: 50px auto; 
    padding: 20px; 
    background-color: #f8f9fa; 
    border-radius: 10px; 
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1); 
}

.forgot-form {
    padding: 20px; 
    font-family: Arial, sans-serif;
}

.forgot-form label {
    font-weight: lighter;
    display: block; 
    margin-bottom: 10px; 
}

.forgot-form input[type="email"] {
    width: calc(100% - 22px); 
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.error-message {
    margin-top: 5px;
}

.error-text {
    color: red;
}

.btn-primary {
    
    margin-top: 10px; 
}

.result {
    color: red;
}


