<body>
    <div class="container">
        <form class="forgot-form" [formGroup]="forgotForm" id="forgotForm">

            <p>Enter registered email</p>
            <div class="formGroup">
            <input type="email" placeholder="User Email" formControlName="email" id="email" name="email">
            <div *ngIf="forgotForm.get('email')!.touched && forgotForm.get('email')!.invalid" class="error-message">
                <div *ngIf="forgotForm.get('email')!.hasError('required')">
                    <span class="error-text">*Email Id is required</span>
                </div>
                <div *ngIf="forgotForm.get('email')!.hasError('pattern')">
                    <span class="error-text">*Invalid Email Id</span>
                </div>
            </div>
        </div>
            
            <button class="btn btn-primary" type="submit" name="loginbutton" id="submit" (click)="verifyEmail(forgotForm.value)"
                [disabled]="forgotForm.invalid">Submit</button>
            <br>
            <p class="result">{{result}}</p>
        </form>
    </div>
</body>