<form [formGroup]="myform" *ngIf="hideform">
    <div class="position-sticky">
        <div class="position-sticky">
            <nav class="navbar navbar-dark " id="nav">
                <div class="container-fluid">
                    <span class="navbar-brand mb-0 h1">Survey Builder</span>


                    <div class="list">

                        <button class="btn" id="navbtn"><a routerLink="/survey/allsurvey" id="build">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white"
                                    class="bi bi-file-text" viewBox="0 0 16 16">
                                    <path
                                        d="M5 4a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1zm-.5 2.5A.5.5 0 0 1 5 6h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5M5 8a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1zm0 2a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1z" />
                                    <path
                                        d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2zm10-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1" />
                                </svg> All Survey</a></button>

                        <button class="btn" id="navbtn"> <a routerLink="/survey/summary" id="sum">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white"
                                    class="bi bi-file-text" viewBox="0 0 16 16">
                                    <path
                                        d="M5 4a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1zm-.5 2.5A.5.5 0 0 1 5 6h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5M5 8a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1zm0 2a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1z" />
                                    <path
                                        d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2zm10-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1" />
                                </svg>
                                Summary</a></button>

                        <button class="btn" id="navbtn"><a routerLink="/survey/builder" id="build">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="white"
                                    class="bi bi-pencil" viewBox="0 0 16 16">
                                    <path
                                        d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325" />
                                </svg> Builder</a></button>
                    </div>
                </div>
            </nav>

        </div>

        <!-- <app-survey-dashboard></app-survey-dashboard> -->

        <link rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
        <link rel="stylesheet" href="survey-builder.component.css">

        <div>

            <nav class="sidebar">
                <div class="list-group">
                    <a routerLink="/Survey" class="list-group-item" id="mybtn">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M6 22.8787C4.34315 22.8787 3 21.5355 3 19.8787V9.87866C3 9.84477 3.00169 9.81126 3.00498 9.77823H3C3 9.20227 3.2288 8.64989 3.63607 8.24262L9.87868 2.00002C11.0502 0.828445 12.9497 0.828445 14.1213 2.00002L20.3639 8.24264C20.7712 8.6499 21 9.20227 21 9.77823H20.995C20.9983 9.81126 21 9.84477 21 9.87866V19.8787C21 21.5355 19.6569 22.8787 18 22.8787H6ZM12.7071 3.41423L19 9.70713V19.8787C19 20.4309 18.5523 20.8787 18 20.8787H15V15.8787C15 14.2218 13.6569 12.8787 12 12.8787C10.3431 12.8787 9 14.2218 9 15.8787V20.8787H6C5.44772 20.8787 5 20.4309 5 19.8787V9.7072L11.2929 3.41423C11.6834 3.02371 12.3166 3.02371 12.7071 3.41423Z"
                                fill="currentColor" />
                        </svg>
                        HOME</a>


                    <a routerLink="/postnav" class="list-group-item" id="mybtn">

                        <svg width="28" height="28" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M12.552 8C11.9997 8 11.552 8.44772 11.552 9C11.552 9.55228 11.9997 10 12.552 10H16.552C17.1043 10 17.552 9.55228 17.552 9C17.552 8.44772 17.1043 8 16.552 8H12.552Z"
                                fill="currentColor" fill-opacity="0.5" />
                            <path
                                d="M12.552 17C11.9997 17 11.552 17.4477 11.552 18C11.552 18.5523 11.9997 19 12.552 19H16.552C17.1043 19 17.552 18.5523 17.552 18C17.552 17.4477 17.1043 17 16.552 17H12.552Z"
                                fill="currentColor" fill-opacity="0.5" />
                            <path
                                d="M12.552 5C11.9997 5 11.552 5.44772 11.552 6C11.552 6.55228 11.9997 7 12.552 7H20.552C21.1043 7 21.552 6.55228 21.552 6C21.552 5.44772 21.1043 5 20.552 5H12.552Z"
                                fill="currentColor" fill-opacity="0.8" />
                            <path
                                d="M12.552 14C11.9997 14 11.552 14.4477 11.552 15C11.552 15.5523 11.9997 16 12.552 16H20.552C21.1043 16 21.552 15.5523 21.552 15C21.552 14.4477 21.1043 14 20.552 14H12.552Z"
                                fill="currentColor" fill-opacity="0.8" />
                            <path
                                d="M3.448 4.00208C2.89571 4.00208 2.448 4.44979 2.448 5.00208V10.0021C2.448 10.5544 2.89571 11.0021 3.448 11.0021H8.448C9.00028 11.0021 9.448 10.5544 9.448 10.0021V5.00208C9.448 4.44979 9.00028 4.00208 8.448 4.00208H3.448Z"
                                fill="currentColor" />
                            <path
                                d="M3.448 12.9979C2.89571 12.9979 2.448 13.4456 2.448 13.9979V18.9979C2.448 19.5502 2.89571 19.9979 3.448 19.9979H8.448C9.00028 19.9979 9.448 19.5502 9.448 18.9979V13.9979C9.448 13.4456 9.00028 12.9979 8.448 12.9979H3.448Z"
                                fill="currentColor" />
                        </svg>
                        FEEDS</a>

                    <a routerLink="/poll" class="list-group-item" id="mybtn">
                        <svg width="28" height="28" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M13 10C13 11.1046 13.8954 12 15 12C16.1046 12 17 11.1046 17 10V5C17 3.89543 16.1046 3 15 3C13.8954 3 13 3.89543 13 5V10ZM5 8C3.89543 8 3 8.89543 3 10C3 11.1046 3.89543 12 5 12H10C11.1046 12 12 11.1046 12 10C12 8.89543 11.1046 8 10 8H5ZM15 13C13.8954 13 13 13.8954 13 15C13 16.1046 13.8954 17 15 17H20C21.1046 17 22 16.1046 22 15C22 13.8954 21.1046 13 20 13H15ZM10 22C8.89543 22 8 21.1046 8 20L8 15C8 13.8954 8.89543 13 10 13C11.1046 13 12 13.8954 12 15V20C12 21.1046 11.1046 22 10 22ZM8 5C8 3.89543 8.89543 3 10 3C11.1046 3 12 3.89543 12 5V7H10C8.89543 7 8 6.10457 8 5ZM3 15C3 16.1046 3.89543 17 5 17C6.10457 17 7 16.1046 7 15V13H5C3.89543 13 3 13.8954 3 15ZM17 20C17 21.1046 16.1046 22 15 22C13.8954 22 13 21.1046 13 20V18H15C16.1046 18 17 18.8954 17 20ZM22 10C22 8.89543 21.1046 8 20 8C18.8954 8 18 8.89543 18 10V12H20C21.1046 12 22 11.1046 22 10Z"
                                fill="currentColor" />
                        </svg>POLL
                    </a>

                    <!-- <a routerLink="/..." class="list-group-item" id="mybtn">
                        <svg width="28" height="28" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M4 5.5H9C10.1046 5.5 11 6.39543 11 7.5V16.5C11 17.0523 10.5523 17.5 10 17.5H4C3.44772 17.5 3 17.0523 3 16.5V6.5C3 5.94772 3.44772 5.5 4 5.5ZM14 19.5C13.6494 19.5 13.3128 19.4398 13 19.3293V19.5C13 20.0523 12.5523 20.5 12 20.5C11.4477 20.5 11 20.0523 11 19.5V19.3293C10.6872 19.4398 10.3506 19.5 10 19.5H4C2.34315 19.5 1 18.1569 1 16.5V6.5C1 4.84315 2.34315 3.5 4 3.5H9C10.1947 3.5 11.2671 4.02376 12 4.85418C12.7329 4.02376 13.8053 3.5 15 3.5H20C21.6569 3.5 23 4.84315 23 6.5V16.5C23 18.1569 21.6569 19.5 20 19.5H14ZM13 7.5V16.5C13 17.0523 13.4477 17.5 14 17.5H20C20.5523 17.5 21 17.0523 21 16.5V6.5C21 5.94772 20.5523 5.5 20 5.5H15C13.8954 5.5 13 6.39543 13 7.5ZM5 7.5H9V9.5H5V7.5ZM15 7.5H19V9.5H15V7.5ZM19 10.5H15V12.5H19V10.5ZM5 10.5H9V12.5H5V10.5ZM19 13.5H15V15.5H19V13.5ZM5 13.5H9V15.5H5V13.5Z"
                                fill="currentColor" />
                        </svg>MANUAL
                    </a> -->

                    <a routerLink="/survey/builder" class="list-group-item" id="mybtn">

                        <svg width="30" height="30" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M7.7572 6.3431L11.9998 2.10046L16.2425 6.3431L11.9998 10.5857L7.7572 6.3431ZM10.5856 6.3431L11.9998 4.92889L13.4141 6.3431L11.9998 7.75732L10.5856 6.3431Z"
                                fill="currentColor" />
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M2.10046 11.9999L6.3431 7.75726L10.5857 11.9999L6.3431 16.2425L2.10046 11.9999ZM4.92889 11.9999L6.3431 10.5857L7.75732 11.9999L6.3431 13.4141L4.92889 11.9999Z"
                                fill="currentColor" />
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M13.4142 11.9999L17.6568 16.2425L21.8995 11.9999L17.6568 7.75726L13.4142 11.9999ZM17.6568 10.5857L16.2426 11.9999L17.6568 13.4141L19.071 11.9999L17.6568 10.5857Z"
                                fill="currentColor" />
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M7.7572 17.6569L11.9998 13.4142L16.2425 17.6569L11.9998 21.8995L7.7572 17.6569ZM10.5856 17.6569L11.9998 16.2427L13.4141 17.6569L11.9998 19.0711L10.5856 17.6569Z"
                                fill="currentColor" />
                        </svg>
                        SURVEY</a>

                    <!-- <a routerLink=".../" class="list-group-item" id="mybtn">
                        <svg width="28" height="28" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M8 12C8 13.1046 7.10457 14 6 14C4.89543 14 4 13.1046 4 12C4 10.8954 4.89543 10 6 10C7.10457 10 8 10.8954 8 12Z"
                                fill="currentColor" />
                            <path
                                d="M14 12C14 13.1046 13.1046 14 12 14C10.8954 14 10 13.1046 10 12C10 10.8954 10.8954 10 12 10C13.1046 10 14 10.8954 14 12Z"
                                fill="currentColor" />
                            <path
                                d="M18 14C19.1046 14 20 13.1046 20 12C20 10.8954 19.1046 10 18 10C16.8954 10 16 10.8954 16 12C16 13.1046 16.8954 14 18 14Z"
                                fill="currentColor" />
                        </svg>MORE
                    </a> -->


                </div>
            </nav>
        </div>

        <!-- class="ml-1 mt-4" -->
        <div class="container mt-3 ml-5" style=" margin: 5%;" *ngIf="flag1">


            <button *ngIf="addnewpage=='false'" class="btn" id="newsur" data-toggle="tab" data-bs-toggle="modal"
                data-bs-target="#staticBackdrop">

                <svg width="24" height="24" viewBox="0 0 24 24" fill="currentcolor" xmlns="http://www.w3.org/2000/svg"
                    id="nw">
                    <path d="M19 5H7V3H21V17H19V5Z" fill="currentcolor" />
                    <path d="M9 13V11H11V13H13V15H11V17H9V15H7V13H9Z" fill="currentcolor" />
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M3 7H17V21H3V7ZM5 9H15V19H5V9Z"
                        fill="currentcolor" />
                </svg> New Survey


            </button>

            <button *ngIf="addnewpage=='true'" class="btn ml-4" (click)="addNewPages()"
                [disabled]="totalNewQuestions >= 15" id="addnw">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M12 4C11.4477 4 11 4.44772 11 5V11H5C4.44772 11 4 11.4477 4 12C4 12.5523 4.44772 13 5 13H11V19C11 19.5523 11.4477 20 12 20C12.5523 20 13 19.5523 13 19V13H19C19.5523 13 20 12.5523 20 12C20 11.4477 19.5523 11 19 11H13V5C13 4.44772 12.5523 4 12 4Z"
                        fill="currentColor" />
                </svg>
                Add New Page
            </button>
        </div>

        <div class="card mt-4" id="view" *ngIf="open">
            <div class="card-body">

                <div *ngFor="let qn of questionValueList1; let q = index;" id="viewin">

                    <div *ngFor="let pg of pagevalueList">
                        <div class="card-header mt-2 mb-2" *ngIf="pg.pageNo==qn.pageNo">
                            <div id="pgtitle">{{pg.pageNo}} . {{pg.pageTitle}}</div>
                        </div>
                    </div>
                    {{qn.questionNo}} . {{qn.questions}}


                    <div *ngFor="let opt of optionValueList1">

                        <div *ngIf="qn.questionNo==opt.questionNo&&qn.pageNo==opt.pageNo" id="optin">

                            <div *ngIf="qn.optionType=='Single Choice'">

                                <input type="radio">

                                {{opt.options}}

                            </div>
                            <div *ngIf="qn.optionType=='Multiple Choice'">

                                <input type="checkbox">

                                {{opt.options}}

                            </div>
                        </div>

                    </div>

                    <div class="card-body " *ngIf="qn.optionType=='Dropdown'">
                        <select class="form-select">
                            <ng-container *ngFor="let opt of optionValueList1">
                                <option *ngIf="opt.questionNo==qn.questionNo" value="{{opt.options}}">
                                    {{opt.options}}</option>
                            </ng-container>
                        </select>
                    </div>

                </div>
            </div>

            <div class="container-fluid mb-3">
                <button class="btn" id="submitbtn" (click)="deliver()"> Submit
                </button>
            </div>

        </div>

        <div *ngIf="close">
            <div class="flex-container" *ngFor="let page of pages; let p = index">

                <div class="card">
                    <div class="card-header">
                        <p>Page No : </p>
                        <input formControlName="pageNo" id="pageno">
                        <input type="text" class="form-control" id="title" placeholder="Add Title Here"
                            formControlName="pageTitle">

                        <button class="btn" (click)="removePage(p)" id="header">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M6.2253 4.81108C5.83477 4.42056 5.20161 4.42056 4.81108 4.81108C4.42056 5.20161 4.42056 5.83477 4.81108 6.2253L10.5858 12L4.81114 17.7747C4.42062 18.1652 4.42062 18.7984 4.81114 19.1889C5.20167 19.5794 5.83483 19.5794 6.22535 19.1889L12 13.4142L17.7747 19.1889C18.1652 19.5794 18.7984 19.5794 19.1889 19.1889C19.5794 18.7984 19.5794 18.1652 19.1889 17.7747L13.4142 12L19.189 6.2253C19.5795 5.83477 19.5795 5.20161 19.189 4.81108C18.7985 4.42056 18.1653 4.42056 17.7748 4.81108L12 10.5858L6.2253 4.81108Z"
                                    fill="currentColor" />
                            </svg>
                        </button>

                        <button class="btn" id="publishbtn" (click)="insertPage()"
                            [disabled]="pagevalueList.length == 3">
                            Publish
                        </button>
                    </div>


                    <div class="card mt-4 mb-4" id="con">
                        <div class="card-body mt-2 mb-2">


                            <ng-container *ngFor="let question of page.question; let i = index;">

                                <div class="card mt-2 mb-2" id="content">
                                    <div class="questclose">
                                        <button class="btn " (click)="removeQuestion(page,i)">
                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M6.2253 4.81108C5.83477 4.42056 5.20161 4.42056 4.81108 4.81108C4.42056 5.20161 4.42056 5.83477 4.81108 6.2253L10.5858 12L4.81114 17.7747C4.42062 18.1652 4.42062 18.7984 4.81114 19.1889C5.20167 19.5794 5.83483 19.5794 6.22535 19.1889L12 13.4142L17.7747 19.1889C18.1652 19.5794 18.7984 19.5794 19.1889 19.1889C19.5794 18.7984 19.5794 18.1652 19.1889 17.7747L13.4142 12L19.189 6.2253C19.5795 5.83477 19.5795 5.20161 19.189 4.81108C18.7985 4.42056 18.1653 4.42056 17.7748 4.81108L12 10.5858L6.2253 4.81108Z"
                                                    fill="currentColor" />
                                            </svg>
                                        </button>
                                    </div>

                                    <div class="card-body">
                                        <div class="mb-4">
                                            <label for="Question" class="form-label">
                                                Q.No :
                                                <input formControlName="questionNo" id="qno">
                                            </label>

                                            <input type="text" class="form-control"
                                                [id]="'question' + question.questionId"
                                                placeholder="Enter your Question" formControlName="questions">
                                        </div>

                                        <div class="mb-4" id="qtype">
                                            <!-- <label for="QuestionType" class="form-label" id="qtitle">Question Type</label> -->
                                            <select class="form-select" aria-label="Question Type"
                                                formControlName="optionType">
                                                <option class="form-select" value="" selected disabled hidden
                                                    id="dropfield">
                                                    Question
                                                    Type</option>
                                                <option class="form-select" value="Single Choice">Single Choice</option>
                                                <option class="form-select" value="Multiple Choice">Multiple Choice
                                                </option>
                                                <option class="form-select" value="Dropdown">Dropdown</option>
                                            </select>
                                        </div>

                                        <div class="mb-4" id="optbox" formArrayName="optionArray">
                                            <!-- <label for="Option" class="form-label">Options</label> -->
                                            <div [formGroupName]="j"
                                                *ngFor="let option of optionArray.controls.slice(0,10); let j = index" class="mb-3"
                                                id="optfield">
                                                <div id="optiondec">
                                                    <input type="text" class="form-control" formControlName="options"
                                                        placeholder="Enter your Option">


                                                    <button *ngIf="j>1" class="btn " type="button"
                                                        (click)="removeOption(j)">
                                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                                            xmlns="http://www.w3.org/2000/svg">
                                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                                d="M17 5V4C17 2.89543 16.1046 2 15 2H9C7.89543 2 7 2.89543 7 4V5H4C3.44772 5 3 5.44772 3 6C3 6.55228 3.44772 7 4 7H5V18C5 19.6569 6.34315 21 8 21H16C17.6569 21 19 19.6569 19 18V7H20C20.5523 7 21 6.55228 21 6C21 5.44772 20.5523 5 20 5H17ZM15 4H9V5H15V4ZM17 7H7V18C7 18.5523 7.44772 19 8 19H16C16.5523 19 17 18.5523 17 18V7Z"
                                                                fill="red" />
                                                            <path d="M9 9H11V17H9V9Z" fill="red" />
                                                            <path d="M13 9H15V17H13V9Z" fill="red" />
                                                        </svg>
                                                        <!-- <i class="fa fa-trash-o"></i> -->
                                                    </button>
                                                </div>
                                            </div>

                                            <button class="btn" (click)="addOption( )" id="addopt">
                                                Add Option
                                            </button>

                                            <div class="mt-3" *ngIf="question.option.length == 10" id="tool">
                                                Maximum Option limit is Reached
                                            </div>

                                        </div>
                                        <div>
                                            <button class="btn btn-success" id="savebtn"
                                                (click)="insertValue(myform.value)"
                                                [disabled]="questionValueList.length == 15">
                                                Save
                                            </button>
                                        </div>

                                        <div class="mt-3" *ngIf="questionValueList.length == 15" id="tool">
                                            Maximum Questions limit is Reached
                                        </div>
                                    </div>

                                </div>
                            </ng-container>



                            <div class="mt-1" *ngIf="flag">
                                <button class="btn" (click)="addNewQuestion(page)" [disabled]="totalNewQuestions > 15"
                                    id="addquest">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M12 4C11.4477 4 11 4.44772 11 5V11H5C4.44772 11 4 11.4477 4 12C4 12.5523 4.44772 13 5 13H11V19C11 19.5523 11.4477 20 12 20C12.5523 20 13 19.5523 13 19V13H19C19.5523 13 20 12.5523 20 12C20 11.4477 19.5523 11 19 11H13V5C13 4.44772 12.5523 4 12 4Z"
                                            fill="currentColor" />
                                    </svg>
                                    Add Question
                                </button>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="card-footer">
                        <button class="btn" id="publishbtn" (click)="insertPage()">
                            Publish
                        </button>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</form>

<main>
    <app-creation-page></app-creation-page>
</main>




<!-- Modal -->
<div class="card " *ngIf="popUp" id="responded">
    <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52" style="margin-left: 45%;">
        <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" />
        <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
    </svg>
    <h4 class="mb-5">
        Survey Created Successfully!
    </h4>
</div>