<app-usernavbar></app-usernavbar>


<main style="margin-left: 20%;">

    <router-outlet></router-outlet>

</main>

<div class="container-fluid" id="home">
    <div class="row" style="padding-left: 5%;">
        <!-- <div class="col-sm-4">


        </div> -->
        <div class="container ml-4">


            <div class="wrapper">
                <div class="card">
                    <img class="card-img-top" src="/assets/post1.png" alt="Card image cap">
                    <button class="card-btn" routerLink="/postnav"> POST</button>
                </div>
                <div class="card">
                    <img class="card-img-top" src="/assets/poll1.png" alt="Card image cap">
                    <button class="card-btn" routerLink="/poll">POLL</button>
                </div>
                <div class="card">
                    <img class="card-img-top" src="/assets/survey1.png" alt="Card image cap" style="color: white;">
                    <button class="card-btn" routerLink="/survey">SURVEY</button>
                </div>
            </div>
        </div>