#field {
    width: 30%;
    margin: auto;
}

.div1 {
    margin: 5%;
}

.card-header {
    background-color: rgb(86, 150, 205);
    text-align: center;
    border-top-right-radius: 10px ;
    border-top-left-radius: 10px ;
}

.card-footer {
    border: none;
    background-color: transparent;
    margin-top: 1%;
    text-align: center;
    border-bottom-right-radius: 10px ;
    border-bottom-left-radius: 10px ;
}

.card {
    width: 80%;
    margin: auto;
    border-radius:10px ;
    background-color: aliceblue;
}

nav {
    align-content: center;
}

.card-body {
    /* padding: auto; */
    width: 100%;
}

#content {
    width: 100%;
    border: none;
}

#pgtitle {
    background-color: transparent;
    margin: auto;
    width: 20%;
    /* border-bottom: solid black ; */
    /* border: none; */
    /* font-size: small; */
    font-weight: 500;
}

#dropopt {
    width: 25%;
}

#surname {
    font-size: xx-large;
    font-weight: 500;
}

#btnnew {
    float: right;
}