@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

@import url('https://fonts.cdnfonts.com/css/proxima-nova-condensed');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'proxima_nova_rgbold';
    /* font-family: 'Proxima Nova Extra Condensed', sans-serif; */

}

/* body {
    font-family: 'Proxima Nova Condensed', sans-serif;
    font-family: 'Proxima Nova Extra Condensed', sans-serif;
    height: 100%;
    width: 100%;
    
    background-position: center;
    background-size: cover;
} */

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 80px;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #27235C;
    backdrop-filter: blur(17px);
    --webkit-backdrop-filter: blur(17px);
    border-right: 1px solid rgba(255, 255, 255, 0.7);
    transition: width 0.3s ease;
}

.sidebar:hover {
    width: 210px;
}

.sidebar .logo {
    color: #ffffff;
    display: flex;
    align-items: center;
    padding: 25px 10px 15px;
}

.logo img {
    width: 30px;
    border-radius: 50%;
}

.logo h2 {
    font-size: 1.15rem;
    font-weight: 600;
    margin-left: 15px;
    display: none;
}

.sidebar:hover .logo h2 {
    display: block;
}

.sidebar .links {
    list-style: none;
    margin-top: 10px;
    overflow-y: auto;
    scrollbar-width: none;
    height: calc(100% - 140px);
}

.sidebar .links::-webkit-scrollbar {
    display: none;
}

.links li {
    display: flex;
    border-radius: 4px;
    align-items: center;
}

.links li:hover {
    cursor: pointer;
    background: #97247E;
}

.links h4 {
    color: #222;
    font-weight: 500;
    display: none;
    margin-bottom: 10px;
}

.sidebar:hover .links h4 {
    display: block;
}

.links hr {
    margin: 10px 8px;
    border: 1px solid #4c4c4c;
}

.sidebar:hover .links hr {
    border-color: transparent;
}

.links li span {
    padding: 12px 10px;
}

.links li a {
    padding: 10px;
    color: #ffffff;
    display: none;
    font-weight: 500;
    white-space: nowrap;
    text-decoration: none;
}

.sidebar:hover .links li a {
    display: block;
}

.links .logout-link {
    margin-top: 20px;
}

.tab1 {
    margin-top: 20%;
    background-color: white;
    border-radius: 10px;
}

table {
    margin-top: auto;
    background-color: transparent;
    backdrop-filter: blur(15px);
    border-width: 10px;
    border-color: #000;
    border-radius: 20px;
    font-weight: bold;
}


.example-spacer {
    flex: 1 1 auto;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

a:hover {
    /* background: #fff; */
    text-decoration: none;
}

th {
    text-align: center;
    font-size: larger;
    font-weight: bolder;
    margin: auto;
}

td {
    text-align: center;
    font-size: larger;
}

tr:hover {
    background-color: white;

}

.btn1 {
    /* background-color: white; */
    border: #000;
}

.btn2 {
    border: #000000;
    border-width: 2px;
}

.btn2:hover {
    background-color: #fc0a56;
}

.btn1:hover {
    background-color: #315eba;
}

.add {
    font-weight: bold;
}

.add:hover {
    background-color: #315eba;
    color: white;
}

.card {
    margin: auto;
    width: 80%;
    position: static;
    /* padding: 20%; */
    border-radius: 10px;

}


.card-header {
    border: none;
    background-color: transparent;
}

.card-body {
    cursor: pointer;
}

.card-footer {
    color: rgb(145, 145, 145);
    font-size: smaller;
    font-weight: 100;
    border: none;
    background-color: transparent;
    /* margin-bottom: 2%; */
}

.card-content {
    background-color: rgb(242, 242, 242);
    padding: 3%;
    border-radius: 5px;
}

.title {
    padding: 1%;
    font-size: x-large;
    font-weight: 500;
}

.td2 {
    color: rgb(43, 99, 242);
    padding: auto;
    font-size: x-small;
    /* font-weight: 100; */
    border: 1px solid rgb(43, 99, 242);
    border-radius: 3px;
}

/* td {
    width: 50%;
    background-color: transparent;
} */

#cmtfield {
    /* width: 50%; */
    float: left;
    margin-left: 4%;
}

#likefld {
    float: left;
    font-size: medium;
    display: inline-flex;
}

#cmttext {
    margin-left: 2%;
    margin-right: 7%;
    width: 100%;
}

.addComment {
    display: inline-flex;
}

#cmt {
    width: 100%;
    border-radius: 10px;
    background-color: aliceblue;
}

#cmthead {
    height: 40px;
    /* background-color: rgb(76, 107, 135); */
}

#doit {
    margin-top: 2%;
}

.btn {
    padding: 0;
    border: none;
    background: none;
    box-shadow: none;
}

/* .liked {
    font-weight: bold;
    color: #1565c0;
} */

/* .bi-hand-thumbs-up {
    width: 40px;
    height: 31px;
} */

.bi-hand-thumbs-up-fill {
    width: 38%;
    height: 38%;
    fill: #5ea7fa;
    /* stroke: black; */
}


.position-sticky {
    position: sticky;
    top: 0;
}

#rightDiv {

    margin: auto;
    width: 85%;
    position: static;
}

#tab {
    position: static;
}






















@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css');

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

body {
    font-family: sans-serif;
    background: #f6f9fa;
}

h1 {
    color: #ccc;
    text-align: center;
}

a {
    color: #ccc;
    text-decoration: none;
    outline: none;
}

/*Fun begins*/
.tab_container {
    width: 80%;
    margin:  auto;
    padding-top: 20px;
    position: static;
}

input,
section {
    clear: both;
    padding-top: 10px;
    display: none;
}

#toplabel {
    font-weight: 700;
    font-size: 18px;
    display: block;
    float: left;
    width: 50%;
    padding: 1.0em;
    color: #FFFFFF;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    background: #27235C;  
    border: 4px solid white;  
    border-radius: 10px;
    
}

#tab1:checked~#content1,
#tab2:checked~#content2,
#tab3:checked~#content3,
#tab4:checked~#content4,
#tab5:checked~#content5 {
    display: block;
    padding-bottom: 40px;
    background: #fff;
    color: #999;
    /* border-bottom: 2px solid #f0f0f0; */
}

.tab_container .tab-content p,
.tab_container .tab-content h3 {
    -webkit-animation: fadeInScale 0.7s ease-in-out;
    -moz-animation: fadeInScale 0.7s ease-in-out;
    animation: fadeInScale 0.7s ease-in-out;
}

.tab_container .tab-content h3 {
    text-align: center;
}

.tab_container [id^="tab"]:checked+label {
    background: #fff;
    box-shadow: inset 0 3px #fc0a56;
}

.tab_container [id^="tab"]:checked+label .fa {
    color: #fc0a56;
}

label .fa {
    font-size: 1.3em;
    margin: 0 0.4em 0 0;
}

/*Media query*/
@media only screen and (max-width: 600px) {
    label span {
        /* display: none; */
    }

    .tab_container {
        margin-left: 20%;
        width: 98%;
    }
}

/*Content Animation*/
@keyframes fadeInScale {
    0% {
        transform: scale(0.9);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.no_wrap {
    text-align: center;
    color: #0ce;
}

.link {
    text-align: center;
}

#resp {
    font-size: small;
    display: inline;
    float: right;
    color: #27235C;
}

a {
    color: #27235C;
}