
.info{
  width: 5%;
  height: 5%;
  margin-left: 15px;
}
.infomsg{
  color: rgb(189, 54, 54);
}
.progress-container {
  position: relative;
  white-space: nowrap;
  display:flex;
}
.field{
  display: flex;
 flex-wrap: nowrap;
 
}
.progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
 
}
 
.progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity:  0.75;
  font-weight: 600;
  font-size: small;
  background-color: #d5a7cb;
  color: black;
}
 
.percentage{
  position:absolute;
  margin-left: 350px;
  margin-top: 26px;
}
svg
{
width: 45px;
height: 41px;
fill: grey;
}
.row
{
margin-top: -45px;
margin-left: 40px;
}
.like-button, .dislike-button {
  font-size: 1rem;
  padding: 5px 10px;
  color:   #585858;
}
 
.liked{  
  font-weight: bold;
  color: #1565c0;
}
.bi-hand-thumbs-up
{
  width: 40px;
  height: 31px;
}
.bi-hand-thumbs-up-fill
{
  width: 40px;
  height: 31px;
  fill: #1565c0;
}
.like, .comment
{
  padding: 0;
  border: none;
  background: none;
}
.bi-chat
{
  width: 40px;
  height: 31px;
  margin-top: 5px;
}
#container
{
  margin-top: 50px;
  margin-left: -50px;
}
.container
{
  margin-top: 60px;
}
input[type=radio] {
  width: 40px;
  height: 1.4em;
  margin-left: -40px;
  margin-top: 25px;
}
#flexRadioDefault
{
  margin-top: 18px;
}
#flexRadioDefault1
{
  margin-top: 61px;
}
#comment
{
  margin-top: -10px;
}
.voted
{
  margin-top: 4px;
  margin-left: 230px;
}
#picture
{
  height: 66px;
}
.field{
  display: flex;
 flex-wrap: nowrap;
}
#input
{
  padding: 0;
border: none;
background: none;
width: 800px;
}
#input:hover
{
  padding: 0;
border: none;
background: none;
}
.card-title
{
  font-size: 25px;
}
.Closed
{
  color: rgb(189, 54, 54);
}
 
#btn{
  padding: 8px 16px;
  background: #27235C;
  border-radius: 7px;
  color: white;
  border: 1px solid;
  margin-top: -4px;
  position: absolute;
  right: 0;
  bottom: 0;
}
 
#btn:hover:enabled {
  cursor: pointer;
  background: rgb(255, 255, 255);
  color: #27235C;
  border-color: rgb(105, 97, 97);
  font-weight: bold;
}
 
/* .btn-outline-primary
{
  color: #27235C;
  /* outline: #27235C; */
 
.btn-outline-primary
{
  color: black;
}
 
.btn-outline-primary:hover    
{
  background-color:#27235C ;
  color: white;
}